@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", serif;
  scroll-behavior: smooth;
}

$green: #1e4a2f;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}

.slider-right {
  [data-slot="thumb"] {
    width: 5px;
    border: none;
    outline: none;
    background: #fff;
  }
}

.slider-site {
  .MuiSlider-track {
    background: #0000;
  }
  .MuiSlider-rail {
    background: #7a7a7a;
  }
  .MuiSlider-thumb {
    background: #000;
    width: 5px;
    border-radius: 0;
  }
  .MuiSlider-mark {
    background-color: #fff;
  }
  .MuiSlider-root {
    color: #0000;
  }

  [data-index="16"] {
    left: calc(100% + 25px) !important;
    display: block !important;

    @media (max-width: 768px) {
      left: calc(100% - 25px) !important;
    }
  }

  .MuiSlider-valueLabelOpen {
    left: -27px !important;
  }

  [data-index="0"] {
    display: block !important;
  }

  .MuiSlider-markLabel {
    color: #000 !important;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.score-label {
  background: transparent !important;
  border: none !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.score-label div {
  transition: all 0.2s ease;
}
